* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home{
    background-color: #b97fdd;
}

body {
    font-family: 'Gravitas One, Arial, Helvetica, sans-serif';
    line-height: 1.6;
    background-color: #eceaee;
    color: #161416;
}



@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Karantina:wght@300;400;700&family=Lavishly+Yours&display=swap');

.lavishly-yours-regular {
    font-family: "Lavishly Yours", cursive;
    font-weight: normal;
    font-style: normal;
}
  
.gravitas-one-regular {
    font-family: "Gravitas One", serif;
    font-weight: normal;
    font-style: normal;
  }

.karantina-light {
    font-family: "Karantina", system-ui;
    font-weight: 300;
    font-style: normal;
}

.karantina-regular {
    font-family: "Karantina", system-ui;
    font-weight: 400;
    font-style: normal;
}

.karantina-bold {
    font-family: "Karantina", system-ui;
    font-weight: 700;
    font-style: normal;
}

.meddon-regular {
    font-family: "Meddon", cursive;
    font-weight: 400;
    font-style: normal;
  }

.kaushan-script-regular {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
}
  

img{
    height: 200px;
    width: auto;
    /* margin-left: 10px; */
}
.head-line{
    font-family: 'gravitas-one-regular';
    font-weight: 900;
}


/* NAVIGATION BAR */
nav{
    height: 100px;
    width: 100vw;
    margin: 0;
    padding: 2em;
    justify-content:space-between;
    display:flex;
    position: fixed;
    z-index: 4;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.navtleft {
    font-size: large;
}




nav a{
    /* background-color:#161416; */
    /* margin-left: 3rem; */
    padding: 0 2rem 0 0;
    text-decoration: none;
    color: #161416;
    font-size: large;
}


/* HERO SECTION */
.hero-content {
    /* background-image: linear-gradient(to bottom, #b97fdd, #ececec); */
    padding: 150px 10rem 15rem 10rem;
    text-align: center;
    background-image: url("SRC/herobg.svg");
}


.word-stack {
    position: relative;
    display: inline-block;
    text-align: center;
}

.word-stack .top {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    /* font-size: clamp(20px, 4vw, 40px); */
    font-size: 100px;
    font-family: 'Meddon', cursive;
    color: #161416;
    z-index: 2;
    white-space: nowrap;
    pointer-events: none; 
}


.word-stack .bottom {
    /* font-size: clamp(72px, 15v, 1000px); */
    font-family: 'Karantina', sans-serif;
    font-size: 400px;
    line-height: 1;
    color: #f5f5f5;
    white-space: nowrap;
}


.hero-content h2{
    font-size: 50px;
    color: #b97fdd;
}


/* SKILLS */
.skills{
    background-color: #ececec;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.skills img{
    height: 70px;
    margin: 0 50px 0 0 ;
}

/* PROJECTS SECTION */

.bg{
    background-image: linear-gradient(to bottom, #b97fdd, rgba(255, 255, 255, 0));
}

.head-line{
    text-align: center;
    padding: 50px;
    font-size: 60px;
    /* background-color: #b97fdd; */
    color: #b97fdd;
   
}

.projects{
    background-color: #b97fdd;
    color: #eceaee;
}

.categories {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #b97fdd;
    padding: 0 5rem 5rem 5rem;
    /* color: #b97fdd; */
    
}

.category {
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 1.5rem;
    /* background-color: #eceaee; */
    border-radius: 10px;
    background-image: linear-gradient(to top right, #9232d7, #ffff);
}

.category img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.category:hover {
    transform: scale(1.05);
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.8);
}

.modal-content {
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    max-width: 900px;
}

.modal-content img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}


/* ABOUT SECTION */
.aboutme  {
    padding: 0 10rem 5rem 10rem;
    margin: 5rem;
}


/* CONTACT */
.contact img{
    height: 20px;
}


.site-footer {
    text-align: center;
    padding: 20px 10px;
    font-size: 0.9rem;
    color: #777;
    border-top: 1px solid #eee;
  }
  
  .site-footer strong {
    color: #333;
  }
  